<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="posts.facebook.pranika.facebookapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".DaggerApp.DaggerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" />
        <activity android:name=".Feeds" />
        <activity android:name=".SingleFeed" />
        <activity android:name=".MonthFeed" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisteredActivity" />
        <activity
            android:name=".BottomNavigation"
            android:launchMode="singleTop">

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open.my.app"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailWeekActivity" />
        <activity android:name=".DetailYearActivity" />
        <activity android:name=".AuthAffectedPatients" />
        />
        <activity android:name=".PatientStatus" />
        <activity android:name=".WeekGraph" />
        <activity android:name=".DoctorSignUp" />
        <activity android:name=".ShowDoctors" />
        <activity
            android:name=".OrganizationSignUp"
            android:theme="@style/OrganizationTheme" />
        <activity
            android:name=".OrganizationLogin"
            android:theme="@style/OrganizationTheme" />
        />
        <activity
            android:name=".UpdateDoctor"
            android:theme="@style/OrganizationTheme" />
        <activity android:name=".BottomNavigationOrganization" />
        <activity android:name=".AffectedPatients" />
        <activity
            android:name=".PhoneVerification"
            android:label="@string/title_activity_phone_verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpDecision" />
        <activity android:name=".NonNPISignUp"
            android:theme="@style/OrganizationTheme"></activity>
    </application>

</manifest>