<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="posts.facebook.pranika.facebookapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PatientsData"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoctorSignUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity android:name=".MainActivity" />
        <activity android:name=".Feeds" />
        <activity android:name=".SingleFeed" />
        <activity android:name=".MonthFeed" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisteredActivity" />
        <activity android:name=".BottomNavigation" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailWeekActivity" />
        <activity android:name=".DetailYearActivity" />
        <activity android:name=".AuthAffectedPatients"></activity>

        <service android:name=".FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT">

                </action>
            </intent-filter>

        </service>

    </application>

</manifest>